@model dynamic

@{
    ViewBag.Title = "Success";
}

<article>
    <header>
        <h1>Success!</h1>
    </header>
    <section>
        <p>
            Your application has been submitted. We will contact you shortly.
        </p>
    </section>
</article>
