@using Domain.Configuration
@model dynamic

@{
    ViewBag.Title = "Settings";
}

<article>
    <header>
        <h2>Allowed file types</h2>
    </header>
    @Html.Partial("AllowedFileTypes")
</article>